#app{
    display: flex;
    flex-direction: column;
    align-items: center;
}   
    img{
        margin: 20px;
    }
    .product{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .product-div{
        display: flex;
        flex-direction: row;
    }
    
    .cart{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    button{
        border: none;
        background-color: rgb(38, 38, 225);
        color: #fff;
        height: 30px;
        border-radius: 3px;
        margin-right: 10px;
    }

    button:focus{
        outline: none;
    }

    button:hover{
        transition: opacity 0.3s;
        opacity: 0.8;
    }

    .cart p{
        border: 1px solid grey;
        padding: 7px;
        border-radius: 3px;
    }

    .color-box{
        height: 30px;
        width: 30px;
        border-radius: 3px;
        margin-left: 15px; 
        margin-bottom: 10px;
    }

    .color-box:hover{
        opacity: 0.8;
        transition: 0.3s;
    }

    .disabledButton{
        background-color: grey;
    }

    .disabledButton, .checkBackLater{
        text-decoration: line-through;
    }

    .hiddenButton{
        display: none;
    }